@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ul id="messages"></ul>
</div>

<script src="lib/signalr/signalr.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5000/messages")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    connection.on('Send', (message) => {
        appendLine(message);
    });

    
    function appendLine(line) {
        let li = document.createElement('li');
        li.innerText = line;
        document.getElementById('messages').appendChild(li);
    };

</script>

